# Ignore build directories
build/
build_linux/

# Ignore object files and intermediate preprocessor files
*.o
*.obj
*.i
*.ii

# Ignore logs and temp files
*.log
nohup.out

# Ignore test executables/runs if any
test.cpp

# Ignore large generated benchmark files
benchmark_large.cpp
benchmark_large.obj
test.o
massive_benchmark/
